<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nuryadincjr.merdekabelanja" >

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MerdekaBelanja" >
        <activity
            android:name=".adminacitvity.AddOthersActivity"
            android:exported="true" />
        <activity
            android:name=".adminacitvity.AddElectronicsActivity"
            android:exported="true" />
        <activity
            android:name=".adminacitvity.ProductsActivity"
            android:exported="true"
            android:label="Add Products" />
        <activity
            android:name=".adminacitvity.AddBookActivity"
            android:exported="true" />
        <activity
            android:name=".adminacitvity.AddClothingActivity"
            android:exported="true" />
        <activity
            android:name=".adminacitvity.AdminsProfileActivity"
            android:exported="false" />
        <activity
            android:name=".adminacitvity.DetailsStaffActivity"
            android:exported="false"
            android:label="Details Staff" />
        <activity
            android:name=".adminacitvity.AddStafsActivity"
            android:exported="false"
            android:label="Add Staff" />
        <activity
            android:name=".activity.SettingsActivity"
            android:exported="false"
            android:label="Settings" />
        <activity
            android:name=".adminacitvity.AdminsActivity"
            android:exported="false"
            android:theme="@style/Theme.MerdekaBelanja.NoActionBar" />
        <activity
            android:name=".activity.OTPActivity"
            android:exported="false"
            android:theme="@style/Theme.MerdekaBelanja.NoActionBar" />
        <activity
            android:name=".activity.RegisterActivity"
            android:exported="false"
            android:theme="@style/Theme.MerdekaBelanja.NoActionBar" />
        <activity
            android:name=".activity.AboutActivity"
            android:exported="false"
            android:theme="@style/Theme.MerdekaBelanja.NoActionBar" />
        <activity
            android:name=".activity.LoginActivity"
            android:exported="false"
            android:theme="@style/Theme.MerdekaBelanja.NoActionBar" />
        <activity
            android:name=".activity.LoggedOutActivity"
            android:exported="false"
            android:theme="@style/Theme.MerdekaBelanja.NoActionBar" />
        <activity
            android:name=".activity.SplashScreenActivity"
            android:exported="true"
            android:theme="@style/Theme.MerdekaBelanja.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.nuryadincjr.merdekabelanja.provider"
            android:exported="false"
            android:grantUriPermissions="true" >
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>